* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
}

.logo {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    margin-bottom: 20px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

label {
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #ff8c00; /* Color naranja */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-submit:hover {
    background-color: #e07b00; /* Color naranja más oscuro al pasar el ratón */
}

.help-text {
    font-size: 12px;
    margin-top: 15px;
    color: #666;
}