body{
    margin: 0%;
    background-image: url(/recursos/pexels-pixabay-159400.png);
}

#conten_mayor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.849);
}

#contenedor{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 15px;
    border-color: 3px;
    background-color: white;
    height: 60%;
    width: 38%
}

img{
    width: 15%;
    height: 7%;
}